body{
    background:url("images/back.jpg") no-repeat;
    background-size: cover;
}

.navbar-brand{
    font-family: "Monotype Corsiva" , cursive;
}

table, td {
    margin-left: 80px; margin-top: 80px;
    border: 1px solid black;
    padding: 15px;
}

