body{
    background:url("images/back.jpg") no-repeat;
    background-size: cover;
}

table,td {
    margin-left: 150px; margin-top: 80px;
    border: 1px solid black;
    padding: 15px;
}

th{
    background-color: #122b40;
    color: white;
}

img {
    height: 190px;
    width: 280px;
}

.navbar-brand{
    font-family: "Monotype Corsiva" , cursive;
}